<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="alternate" type="application/atom+xml" title="Notebook Blog Aggregator" href="/feed.xml">

    <link rel="stylesheet" href="/static/style.css">

    <title>Notebook Blog Aggregator</title>
    <meta property="og:title" content="Notebook Blog Aggregator">
    <meta property="og:url" content="https://notebooks.rixx.de" />
    <meta name="twitter:card" content="summary" />
  </head>
  <body>

    <header>
      <h1><a href="/">Notebook Blog Aggregator</a></h1>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

  </body>
</html>
